body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(gray,blue);
  }

  
/*Estilos Generales*/
/*aqui solo quitamos las viñetas al menu que esta en el nav*/
nav ul {
    list-style: none;
    padding: 0;
    
}
nav li{
   line-height: 3rem; 
}
nav a{
    color: #ddd;
    display: block;
    padding: 0 2.5em;
    text-decoration: none;
    transition: .4s;
    
}
nav a:hover{
    background: rgba(0, 0, 0, .5);
}

nav ul ul {
    display: none;
}
/*primer nivel*/
nav > ul {
    background: rgb(181, 117, 117);
    display: table;
    width: 100%;
    
}
nav > ul >li {
    float: left;
}




h2{
    font-size: 36px;
    color: black;
    text-align: center;
  }
section{
    display: flex;
    width: 1328px;
    height: 400px;
}
section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
